.link {
  display: block;
}
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

button {
  max-width: 150px;
}

.Space {
  margin: 20px 0;
}
